{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block pages %}
    <div class="page">
        <header class="bar bar-nav">
            <h1 class="title">{{ title }}</h1>
        </header>
        <div class="content">
            <div class="content-padded">
                <img src="/static/img/baoming.png" width="100%">
                <p><a href="{% url 'test' %}" class="button button-big button-round button-linearblue">体验课程</a></p>
                <p><a href="{% url 'enroll' %}" class="button button-big button-round">我要报名</a></p>
            </div>
        </div>
    </div>
{% endblock %}