{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block pages %}
    {% for i in items %}
        <div class="page{% if forloop.first %} page-current{% endif %}" id="pageIdx-{{ forloop.counter }}">
            <header class="bar bar-nav green-bar">
                <a class="icon icon-left pull-left back"></a>
                <h1 class="title">{{ i.desc }}</h1>
            </header>
            <div class="content">
                <div class="content-padded">
                    {{ i.name|safe }}
                    <div class="kewaiyd">
                        <h4>知识点：</h4>
                        <p>{{ i.keypoint }}</p>
                        <h4>试题解析：</h4>
                        {{ i.detail|safe }}
                    </div>
                </div>
                {% if not forloop.last %}
                    <div class="content-block">
                        <a href="#pageIdx-{{ forloop.counter|add:1 }}" class="button button-round">下一题</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}